body{
background-color: #0b0c1d;

}

h1{
    color: white;
    text-align: center;
}

.mi {
margin: auto;
width: 50%;
border: 3px solid green;
padding: 10px;
text-align: center;

}

.km {
margin: auto;
width: 50%;
border: 3px solid green;
padding: 10px;
text-align: center;
}
p {
    color: white;
}